In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.DataFrame({
'A': [np.nan,0.0,np.nan], 'B': [3,4,5]})

In [4]:
df1

     A  B
0  NaN  3
1  0.0  4
2  NaN  5

In [6]:
df2 = pd.DataFrame({
    'A': [1,1,3], 'B': [3.0, np.nan, 3.0]
})

In [7]:
df2

   A    B
0  1  3.0
1  1  NaN
2  3  3.0

In [8]:
# The combine_first() method in pandas is used to combine two Series or DataFrames. 
# It fills the missing values (NaN) in the calling object with the corresponding non-null values from the other object.
# if it is not nan values it will keep it from the df1 
result = df1.combine_first(df2)

In [9]:
result

     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0