In [2]:
import pandas as pd
import numpy as nm

In [3]:
data = {
    "Student": [
        "Aman", "Bina", "Chirag", "Deepa", "Esha",
        "Farhan", "Gita", "Harsh", "Ira", "Jay",
        "Kriti", "Laksh", "Maya", "Nikhil", "Om",
        "Pooja", "Quinn", "Ravi", "Sneha", "Tina"
    ],
    "Subject": [
        "Math", "Science", "English", "History", "Geography",
        "Math", "Science", "English", "History", "Geography",
        "Math", "Science", "English", "History", "Geography",
        "Math", "Science", "English", "History", "Geography"
    ],
    "Marks": [
        88, 92, 76, 85, 90,
        79, 83, 91, 77, 89,
        93, 84, 72, 87, 95,
        80, 85, 78, 88, 94
    ]
}

In [4]:
print(data)

{'Student': ['Aman', 'Bina', 'Chirag', 'Deepa', 'Esha', 'Farhan', 'Gita', 'Harsh', 'Ira', 'Jay', 'Kriti', 'Laksh', 'Maya', 'Nikhil', 'Om', 'Pooja', 'Quinn', 'Ravi', 'Sneha', 'Tina'], 'Subject': ['Math', 'Science', 'English', 'History', 'Geography', 'Math', 'Science', 'English', 'History', 'Geography', 'Math', 'Science', 'English', 'History', 'Geography', 'Math', 'Science', 'English', 'History', 'Geography'], 'Marks': [88, 92, 76, 85, 90, 79, 83, 91, 77, 89, 93, 84, 72, 87, 95, 80, 85, 78, 88, 94]}

In [5]:
df = pd.DataFrame(data)

In [6]:
df

   Student    Subject  Marks
0     Aman       Math     88
1     Bina    Science     92
2   Chirag    English     76
3    Deepa    History     85
4     Esha  Geography     90
5   Farhan       Math     79
6     Gita    Science     83
7    Harsh    English     91
8      Ira    History     77
9      Jay  Geography     89
10   Kriti       Math     93
11   Laksh    Science     84
12    Maya    English     72
13  Nikhil    History     87
14      Om  Geography     95
15   Pooja       Math     80
16   Quinn    Science     85
17    Ravi    English     78
18   Sneha    History     88
19    Tina  Geography     94

In [9]:
df.to_excel('Students.xlsx', sheet_name='Sheet1', index=False)

In [18]:
pivoted = df.pivot_table(index="Marks", columns="Subject", values="Student", aggfunc="first")

In [20]:
pivotedcall

Subject English Geography History    Math Science
Marks
72         Maya       NaN     NaN     NaN     NaN
76       Chirag       NaN     NaN     NaN     NaN
77          NaN       NaN     Ira     NaN     NaN
78         Ravi       NaN     NaN     NaN     NaN
79          NaN       NaN     NaN  Farhan     NaN
80          NaN       NaN     NaN   Pooja     NaN
83          NaN       NaN     NaN     NaN    Gita
84          NaN       NaN     NaN     NaN   Laksh
85          NaN       NaN   Deepa     NaN   Quinn
87          NaN       NaN  Nikhil     NaN     NaN
88          NaN       NaN   Sneha    Aman     NaN
89          NaN       Jay     NaN     NaN     NaN
90          NaN      Esha     NaN     NaN     NaN
91        Harsh       NaN     NaN     NaN     NaN
92          NaN       NaN     NaN     NaN    Bina
93          NaN       NaN     NaN   Kriti     NaN
94          NaN      Tina     NaN     NaN     NaN
95          NaN        Om     NaN     NaN     NaN